@import 'utils/variables';
@import 'components/type';

$main-color: #173D63;
$second-color: #67A1CD;
$third-color: #2B5375;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  line-height: 1.4;
}
  
.page {
  display: none;        
  width: 100%;
  height: 100%;
  position: relative;   
  text-align: center;   
  padding: 20px;
}


.page.active {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
}

.title {
  font-size: 80px;
  margin-bottom: 40px;
  font-weight: 800;
  color:$main-color;
}

.buttons {
  position: absolute;
  bottom: 20px;       
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px; 
}

button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}
.cockpit {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;          
  pointer-events: none; 
}