@import 'utils/variables';
@import 'components/type';

$main-color: #173D63;
$second-color: #67A1CD;
$third-color: #2B5375;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
  
.page {
  display: none;        
  width: 100%;
  height: 100%;
  position: relative;      
  padding: 20px;
}

.page.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__container{
  background-color: white;
  height: 140px;
  position: relative;
  overflow: hidden;
}

.title__hidden{
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

.top__hidden{
  height: 50%;
  width: 100%;
  background-color: #C5E6F7;
  position: absolute;
  top: 0;
  z-index: 5;
}

.anim__hidden{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #C5E6F7;
  z-index: 2;
}

.anim__hidden2{
  width: 100%;
  height: 100%;
  background-color: #67A1CD;
  position: absolute;
  z-index: 2;
}



.bottom__hidden{
  height: 50%;
  width: 100%;
  background-color: #C5E6F7;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.title {
  font-size: 80px;
  margin-bottom: 40px;
  font-weight: 800;
  color:$main-color;
  margin-top: 340px;
}

.buttons {
  position: absolute;
  bottom: 48px;       
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}
.btn-deco{
  font-family: "Outfit", sans-serif;
  border: 10px solid $main-color;
  border-radius: 15px;
  height: 55px;
  width: 230px;
  line-height: 5px;
  font-weight: 600;
  color: $main-color;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.btn-deco2{
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  border: 5px solid $main-color;
  border-radius: 15px;
  height: 55px;
  width: 198px;
  line-height: 5px;
  font-weight: 500;
  color: $main-color;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.btn-deco3{
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  border: 5px solid $main-color;
  border-radius: 15px;
  height: 55px;
  width: 100%;
  line-height: 5px;
  font-weight: 500;
  color: $main-color;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.btn-choisir {
  display: none;
}
.btn-reset {
  display: none;
}
button {
  cursor: pointer;
  font-size: 1em;
  justify-self: center;
}
.cockpit {
  position: fixed;
  bottom: -2px;
  left: 0;
  width: 100vw; 
  height: 210px; 
  object-fit: cover;
  object-position: center;
  z-index: -1;
  display: block; 
}
.video-mobile {
  display:none;
}
.cockpitup {
  display:none
}
.grid-boutons{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 96px;
  padding-right: 96px;
  column-gap: 48px;
  width: 100%;
  height: 200px;
  align-items: center;
  position: relative;  
}
.btn-catalogue {
  grid-column: 2;
}
.btn-comparaison {
  grid-column: 4;
}
.btn-accueil {
  border-radius: 100%;
  height: 75px;
  width: 75px;
  font-size: 40px;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 5px;
  color: #FF7474;
  background-color: $main-color;
  border: none;
  position: absolute;
  bottom: 20px;
  z-index: 10;
}

#accueil2{
  top: 0;
}

.flex-boutons{
  display: flex;   
  justify-content: center;
  align-items: center;
  gap: 363px;
}
.btn-modele {
  align-self: end;
  margin-bottom:48px;
  justify-self: center;
}
.btn-compagnie {
  align-self: end;
  margin-bottom:48px;
  justify-self: center;
}
.btn-constructeur {
  align-self: end;
  justify-self: center;
}
.btn-date {
  align-self: end;
  justify-self: center;
}
.marquelogo {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 100px;
  background-color: $second-color;
  justify-content: center;
  align-items: center;

  p {
    color: black;
  }
}
.info-DA {
  height: fit-content;
  width: auto;
  padding: 12px;
  border: 10px solid $main-color;
  background-color: $second-color;
  position: relative;
  overflow: hidden;

  p {
    color: black;
  }
}
.grid-info {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,auto);
  margin-top: 5%;
}
.info-1 {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}
.info-2 {
  grid-column: 1;
  grid-row: 3;
}
.info-3 {
  grid-column: 3;
  grid-row: 2;
}
.info-4 {
  grid-column: 2;
  grid-row: 4;
}
.btn-catalogue2 {
  position: relative;
  bottom:72px
}
.btn-deco:hover {
  background-color: #bbddff;
}
.btn-deco2:hover {
  background-color: #bbddff;
}
.btn-accueil:hover {
  background-color: #174d84;
}
select{
  padding: 3px 0;
  margin: 6px 0;
}
label{
  margin: 6px 0;
  font-weight: bold;
}
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#aircraft_image{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
}

#aircraft_image_dessus{
  grid-column: 2;
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
  width: 300px;
}

//page comparaison
.comparaisonCarre{
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-top: 2%;
}
.compImageInfo, .compImageInfo2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.comp1, .comp2{
  display: flex;
  flex-direction: column;
  background-color: $second-color;
  border-radius: 15px;
  padding: 24px;
  width: 324px;
  color: black;
}
tr{
  display: flex;
  flex-direction: column;
}
#nbcrashs, #nbcrashs2, #totfat, #totfat2, #typeVol, #typeVol2{
  font-weight: normal;
}
.imageComp, .imageComp2{
  padding: 50px;
  background-color: $third-color;
  border-radius: 15px;
}

.imageComp2{
  transform: scaleX(-1);
}

h1{
  margin-top: 15%;
}
.compImageInfo img, .compImageInfo2 img{
  width: 324px;
}
.info-DA {
  height: fit-content;
  width: auto;
  padding: 12px;
  border: 10px solid $main-color;
  background-color: $second-color;

  p {
    color: black;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    line-height: 1.4;
  }
  .grid-boutons{
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .btn-constructeur {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    margin:0;
    align-self: end;
  }
  .btn-modele {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    margin:0;
    align-self: baseline;
  }
  .btn-comparaison2 {
    display: inline-block;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    margin:0;
  }
  .btn-compagnie {
    grid-column: 3;
    grid-row: 1;
    justify-self:baseline;
    margin:0;
    align-self: end;
  }
  .btn-date {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    margin:0;
    align-self: baseline;
  }
  #aircraft_image, #aircraft_image_dessus{
    width: 300px;
  }
  .info-DA {
    height: fit-content;
    width: auto;
    padding: 12px;
    border: 10px solid $main-color;
    background-color: $second-color;
  
    p {
      color: black;
    }
  }
  #aircraft_image{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
  }
}
#aircraft_image{
  position: absolute;
  top: 20px;
  right: 0;
  animation: defilement-rtl 9s infinite linear;
}

/*
@keyframes defilement-rtl {
  0% {
    transform: translateX(-100%);  
  }
  100%{
    transform: translateX(800%);
  }
}*/

#aircraft_image_dessus{
  grid-column: 2;
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
}

//page comparaison
.comparaisonCarre{
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-top: 150px;
}
.compImageInfo{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.comp1, .comp2{
  display: flex;
  flex-direction: column;
  background-color: $second-color;
  border-radius: 15px;
  padding: 24px;
}
tr{
  display: flex;
  flex-direction: column;
}
#nbcrashs, #nbcrashs2, #totfat, #totfat2, #typeVol, #typeVol2{
  font-weight: normal;
}
.imageComp, .imageComp2{
  padding: 50px;
  background-color: $third-color;
  border-radius: 15px;
}

.imageComp2{
  transform: scaleX(-1);
}


@media (max-width: 1025px){
  .cockpit {
    height: 150px;
  }
  .cockpitup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 150px; 
    object-fit: cover;
    object-position: center;
    z-index: -1;
    display: block;
  }
  .title {
    font-size: 40px;
  }
  .flex-boutons{
    flex-direction: column; 
    gap: 24px; 
  }
  .btn-deco{
    border: 5px solid $main-color;
  }
  .grid-info {
    display: flex;
    flex-direction: column;
    margin-top: 115px;
    gap: 4px;
  }
  .marquelogo{
    display:none;
  }
  .grid-boutons{
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    background-color: $second-color;
    height: fit-content;
    width: fit-content;
    padding: 18px;
    border-radius: 15px;
    display: block; /* S'assurer que le conteneur est visible */
    z-index: 1; /* Priorité de l'élément sur les autres éléments */
  }
  .btn-compagnie, .btn-modele{
    margin-bottom: 6px;
  }
  .grid-boutons__hidden{
    display: none;
  }
  .btn-choisir {
    display: block;
    position: relative;
    top:48px;
  }
  .btn-comparaison2 {
    justify-self: center;
    display: none;
  }
  .mobile {
    top:1px;
  }
  .btn-reset {
    display: block;
    position: relative;
    top:48px;
    width: 100px;
    font-weight: 800;
  }
  .btn-catalogue2 {
    display: none;
  }
  .comparaisonCarre {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 110px;
    width: 100%;
  }
  .comp1, .comp2{
    flex-direction: column;
  }
  .compImageInfo, .compImageInfo2{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .compImageInfo2{
    flex-direction: row-reverse;
  }
  .compImageInfo img, .compImageInfo2 img{
    width: 40%;
    height: fit-content;
  }
  .imageComp, .imageComp2{
    padding: 0;
  }
  .resultats--hidden, .resultats2--hidden{
    display: none;
  }
  select {
    pointer-events: auto; /* S'assurer que les éléments sont cliquables */
    z-index: 2; /* Priorité des éléments sur le conteneur */
  }
  #aircraft_image, #aircraft_image_dessus{
    width: 40%;
  }
  .info-DA {
    height: fit-content;
    width: auto;
    padding: 12px;
    border: 4px solid $main-color;
    background-color: $second-color;
  
    p {
      color: black;
    }
  }
  #aircraft_image{
    position: absolute;
    top: auto;
    bottom: 80px;
    right: 20px;
  }
  #aircraft_image_dessus{
    align-self: start;
  }
}
@media (max-width: 500px) {
  .video-mobile {
    display:block
  }
  .video-pc {
    display:none;
  }
}
